{% extends 'oscar/layout.html'%}
{% block content %}
<!-- Contact Form -->
<section class="bg-light">
  <div class="container pt-5">
    <div class="contact-container">
      <div class="p-4">
        <div class="row">
          <div class="col-md-8 text-center">
            <div class="map pt-4">
              <img
                src="/static/codefyn-5.0/assets/img/bg/contact_us.svg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="col-md-4 bg-white rounded-5 p-4 mt-4">
            <form method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <h2 class="text-center">
                <strong>Get <span class="text-muted">In </span></strong
                ><span class="text-primary">Touch !</span>
              </h2>
              <div class="col-md form-floating pb-2">
                {{ form.name }}
                <span class="errors">{{ form.name.errors }}</span>

              </div>
              <div class="col-md form-floating pb-2">
                {{ form.email }}
                <span class="errors">{{ form.email.errors }}</span>

              </div>
              <div class="col-md form-floating">
                {{ form.message }}
                <span class="errors">{{ form.message.errors }}</span>

              </div>
              <div class="my-3">
                {{ form.captcha }}
                <span class="errors">{{ form.captcha.errors }}</span>
              </div>
              <div class="mb-2">
                <button class="btn-round btn-primary d-block w-100"  data-loading-text="Sending ..." type="submit">
                  <i class="bi bi-send-check mr-2"></i>Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Form -->
<script>
  // FOrm Submit
  $(document).ready(function () {
    $(".preloader").hide();
    $("#ContactForm").on("submit", function () {
      $(".preloader").fadeIn();
    }); //submit
  });
  // end form submit
</script>
{% endblock %}
