{% extends 'oscar/layout.html'%}

{% block content %}
<!-- Feedback section -->
<section class="bg-light">
  <div class="pt-5">
    <div class="container">
      <div class="p-4">
        <div class="p-4">
          <div class="row">
            <div class="col-md-8 text-center">
              <img src="/static/codefyn-5.0/assets/img/bg/feedback.svg" />
            </div>
            <div class="col-md-4 p-4 bg-white rounded-5">
              <form

                method="POST"
                enctype="multipart/form-data"
                action="{% url 'home:feedback' %}"
              >
                {% csrf_token %}
                <h2 class="text-center">
                  <strong>Feedback</strong
                  ><span class="text-primary"> Form</span>
                </h2>
                <div class="g-2 mb-3">
                  <div class="col-md form-floating">
                    {{ form.email }}
                    {% if form.email.errors %}
                    <span class="errors">{{ form.email.errors }}</span>
                   {% endif %}
                  </div>
                  <div class="col-md mt-2 mb-5 text-center pb-5">
                    <div class="rate form-control">
                      <div class="rate">
                        <input
                          type="radio"
                          id="star5"
                          name="rating"
                          value="5"
                        />
                        <label for="star5" title="text">5 stars</label>
                        <input
                          type="radio"
                          id="star4"
                          name="rating"
                          value="4"
                        />
                        <label for="star4" title="text">4 stars</label>
                        <input
                          type="radio"
                          id="star3"
                          name="rating"
                          value="3"
                        />
                        <label for="star3" title="text">3 stars</label>
                        <input
                          type="radio"
                          id="star2"
                          name="rating"
                          value="2"
                        />
                        <label for="star2" title="text">2 stars</label>
                        <input
                          type="radio"
                          id="star1"
                          name="rating"
                          value="1"
                        />
                        <label for="star1" title="text">1 star</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  {{ form.captcha }}
                  {% if form.captcha.errors %}
                  <span class="errors">{{ form.captcha.errors }}</span>
                  {% endif %}
                </div>
                <div class="mb-3 mt-2">
                  <button
                    class="btn btn-primary  btn-round d-block w-100"
                    name="submit"
                    type="submit"
                    data-loading-text="Sending ..."
                  >
                    <i class="bi bi-send-check mr-2"></i> Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $(".preloader").hide();
    $("#FeedbackForm").submit(function () {
      // Ajax Call
      $(".preloader").show();
      $.ajax({
        data: $(this).serialize(), //get data
        type: $(this).attr("method"),
        url: "{% url 'home:feedback' %}",

        //  on success weetalert
        success: function (response) {
          swal.fire({
            title: "Thank you For Your Feedback",
            text: response.email,
            icon: "success",
            buttons: true,
            dangerMode: true,
          });
          $(".preloader").hide();
          $("#FeedbackForm").trigger("reset");
        },
        // on error swweet alert
        error: function (response) {
          $(".preloader").hide();
          Swal.fire({
            icon: "error",
            title: "Invalid " + response.responseJSON.errors,
            text: "Try Again !",
          });
        },
      });
      return false;
    });
  });
</script>
{% endblock %}
