{% load i18n %}
{% load wishlist_tags %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {# Select wishlists that contains product #}
        {% wishlists_containing_product wishlists product as product_wishlists %}
        {% if wishlists %}

            <div class="btn-group mx-2 wishlist  align-bottom">
                <a class="btn btn-primary  w-100 dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="bi bi-suit-heart"></i>  {% trans "Add to wish list" %}</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% for wishlist in wishlists %}
                        {% if wishlist not in product_wishlists %}
                            <li>
                                <a class="dropdown-item" href="{% url 'customer:wishlists-add-product' key=wishlist.key product_pk=product.pk %}">


                                    {% blocktrans with name=wishlist.name %}
                                        Add to '{{ name }}' wish list
                                    {% endblocktrans %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="{% url 'customer:wishlists-create-with-product' product_pk=product.pk %}" class="dropdown-item">
                            {% trans 'Create a new wishlist' %}
                        </a>
                    </li>

                    {% for wishlist in product_wishlists %}

                        {% blocktrans with name=wishlist.name url=wishlist.get_absolute_url %}
                        <li>
                        <a  class="dropdown-item" href="{{ url }}">'{{ name }}' wishlist</a>
                        {% endblocktrans %}
                        </li>
                        <li>
                            <form action="{% url 'customer:wishlists-remove-product' key=wishlist.key product_pk=product.id %}" method="post">
                                {% csrf_token %}
                        <input type="submit"  class="dropdown-item" data-loading-text="{% trans 'Removing...' %}"
                           value="{% trans 'Remove Whish from List' %}"/>
                        </form>
                    </li>

                {% endfor %}

                </ul>
            </div>
        {% else %}
            {# 1 or no existing wishlists - show a simple button #}
            <form id="add_to_wishlist_form" action="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" method="post" class="btn-wishlist align-bottom">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Adding...' %}">{% trans "Add to wish list" %}</button>
            </form>
        {% endif %}


    {% endwith %}
{% else %}
    <button class="btn btn-default align-bottom" disabled="disabled" title="{% trans 'Please login to add products to a wish list.' %}">{% trans 'Add to wish list' %}</button><br/>
{% endif %}
